<h1>Avanzatech Financial</h1>

<app-typehead
  [autocompleteData]="processedAutocompleteData"
  [toggleMode]="toggleMode"
  [symbol]="symbol"
  (onTyping)="onTypeheadListener($event)"
  (onSelection)="onTypeheadListener($event)"
/>

@if (symbol) {
<app-chart
  [multi]="dataChart"
  [xAxisLabel]="toggleMode === 'daily' ? 'Days' : 'Monthly'"
  [autoScale]="autoScale"
/>
<app-toggles
  [toggleMode]="toggleMode"
  [autoScale]="autoScale"
  (onToggle)="onToggleListener($event)"
  (onAutoScale)="onAutoScaleListener()"
/>
}
