<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Stock</mat-label>
    <input
      type="text"
      placeholder="Pick one"
      aria-label="Stock"
      matInput
      [formControl]="inputFormControl"
      [matAutocomplete]="auto"
      (keyup)="onTypingHandler()"
      (keyup.enter)="onTypingHandler()"
    />
    <mat-autocomplete #auto="matAutocomplete">
      @for (option of autocompleteData; track option) {
      <mat-option [value]="option[0]" (click)="onSelectionHandler()"
        >{{ option[0] }} | {{ option[1] }}</mat-option
      >
      }
    </mat-autocomplete>
  </mat-form-field>
</form>
