<div id="toggles-group">
  <div id="button-toggles">
    <mat-button-toggle-group name="favoriteColor" aria-label="Favorite Color">
      <mat-button-toggle
        [checked]="toggleMode === 'daily'"
        value="daily"
        (click)="onToggleHandler($event)"
        >Daily</mat-button-toggle
      >
      <mat-button-toggle
        [checked]="toggleMode === 'monthly'"
        value="monthly"
        (click)="onToggleHandler($event)"
        >Monthly</mat-button-toggle
      >
    </mat-button-toggle-group>
  </div>
  <div id="slide-toggle">
    <mat-slide-toggle [checked]="autoScale" (click)="onAutoScaleHandler()"
      >Auto Scale</mat-slide-toggle
    >
  </div>
</div>
